<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>app</title>
</head>
<body>
<center><h1>Calculator App</h1></center><br><br>
<center>
    <form method="post">
        <div>
            <h2>First Number: <input type="text" name="fnum" required></h2>
            <h2>Second Number:<input type="text" name="snum" required></h2><br>
            <h2>Option: <select name="calc">
            <option value="0">--------select-------</option>
            <option value="1">Sum</option>
            <option value="2">Subtraction</option>
            <option value="3">Multiplication</option>
            <option value="4">Division</option>
            </select></h2><br><br>
        <input type="submit"><br>
        {{"result:",abc}}

        </div>
    </form>
</center>
</body>
</html>
